h1 {
	color: red;
}

h3 {
	color: blue;
}

body {
	background-color: lightgrey;
}

.whitecard {
	margin: 30px;
	padding: 40px;
	text-align: center;
	background-color: white;
	box-shadow: 2px 2px 3px grey;
	border-radius: 5px;
}	

img {
	width: 100px;
	border-radius: 50%;
}
